* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.menu {
    background: aliceblue;
    height: 25px;
}

.menu-options {
    background: antiquewhite;
    height: 25px;
}

.calculation {
    /* background: aqua; */
    height: 25px;
    display: flex;
    background: lightgray;
}

.cells-content {
    background: cadetblue;
    height: calc(100vh - 100px);
    overflow: auto;
    position: relative;
}

.sheets {
    background: chartreuse;
    height: 25px;
}

.cell {
    background: white;
    min-height: 28px;
    min-width: 84px;
    border: 0.5px solid black;
    max-width: 84px;
    outline: none;
}

.row {
    display: flex;
}

.top-left-cell {
    height: 28px;
    width: 26px;
    background: lightgray;
    position: absolute;
    z-index: 3;
}

.top-row {
    display: flex;
    background: white;
    position: absolute;
    left: 26px;
    top: 0px;
    z-index: 2;
}

.top-row-cell {
    border: 0.5px solid black;
    min-height: 28px;
    min-width: 84px;
    text-align: center;
}

.left-col {
    height: calc(2800px);
    width: 26px;
    text-align: center;
    background: white;
    position: absolute;
    top: 28px;
    z-index: 2;
}

.left-col-cell {
    height: 28px;
    width: 26px;
    border: 0.5px solid black;
}

.cells {
    position: absolute;
    left: 26px;
    top: 28px;
    outline: none;
}

#address {
    height: 100%;
    width: 8%;
    text-align:center;
    font-size:x-large-large
}

#formula {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 2px;
}
